@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

body{
  color: white;
}
.textBlue{
  color: #1d4ed8;

}

/* Normal CSS equivalent */
.background-custom {
    background: conic-gradient(at bottom right, #1d4ed8, #1e3a8a, #111827); /* from-blue-700, via-blue-800, to-gray-900 */
    min-height: 100vh; /* min-h-full */
}
